<style>
.image { 
   position: relative; 
   width: 100%; /* for IE 6 */
}

h3{ 
   position: absolute; 
   top: 20%; 
   left: 0; 
   width: 100%; 
   color: white;
   font: bold 70px Helvetica, Sans-Serif; 
   text-align: center;
}

h2{ 
   position: absolute; 
   top: 35%; 
   left: 0; 
   width: 100%; 
   color: white;
   font: bold 20px Helvetica, Sans-Serif; 
   text-align: center;
}

</style>
<div class="image">

	<div>
	
		<% …ruby code… %>
	</div>

  <img style="width: 100%;"src="/assets/Marinha_1.jpg"/>

</div>