<style>
.image { 
   position: relative; 
   width: 100%; /* for IE 6 */
}

h3{ 
   position: absolute; 
   top: 20%; 
   left: 0; 
   width: 100%; 
   color: white;
   font: bold 70px Helvetica, Sans-Serif; 
   text-align: center;
}

h2{ 
   position: absolute; 
   top: 35%; 
   left: 0; 
   width: 100%; 
   color: white;
   font: bold 20px Helvetica, Sans-Serif; 
   text-align: center;
}

#myimage {
    filter: brightness(50%);
}

</style>
<div class="image">

  <!--<img style="width: 100%;"src="/assets/Marinha_1.jpg"/>-->

<h2>Loop from 0 to 5:
<% for i in (0..(@cenas.size-1)) %>
<%= @cenas[i].name %>
<% end %>
</h2>
<img id="myimage" style="width: 100%;"src="/assets/Marinha_1.jpg"/>
</div>