<footer class="footer">
  <div class="container">
    <div class="row">
      <div style="margin-left: 27%" class="col-md-3">
        <div class="col">
          <h4>Contactos</h4>
          <ul>
            <li>Universidade do Minho</li>
            <li>Email: <a href="alunos@mail.uminho.pt" title="Email Us">alunos@mail.uminho.pt</a></li>
            <li>Skype: <a href="skype:my.business?call" title="Skype us">uminho</a></li>
          </ul>
        </div>
      </div>

      <div  class="col-md-3">
        <div class="col">
          <h4>Sobre Nós</h4>
          <p class="no-margin">
            SIBDDA é um sistema que tem como objetivo estabelecer uma rede de sensores em zonas balneares de forma a fornecer informação relevante para potencias banhistas de uma determinada zona balnear.
            <br><br>
            <a href="/sobre/sobre_nos" class="btn btn-block btn-base"><span>Sobre Nós</span></a>
          </p>
        </div>
      </div>
    </div>

  </div>
</footer>