<!-- HEADER -->
<div id="divHeaderWrapper">
  <!-- HEADER: Cover example - includes a full page header with with background and semi-opaque navigation with sticky navbar activated -->
  <header class="header-alpha header-cover">
    <!-- Top Header -->
    <div class="top-header">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <nav class="top-header-menu">
              <ul class="top-menu">
                <% if session[:user_id] == nil %>
                    <li><a href="/perfil_utilizador/login">Login</a></li>
                    <li><a href="/perfil_utilizador/register">Registar</a></li>
                <% else %>
                    <li><a href="/perfil_utilizador/register">Meu Perfil</a></li>
                <% end %>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>

    <div class="navbar navbar-wp navbar-fixed mega-nav" data-spy="affix" data-offset-top="120" role="navigation">
      <div class="container">
        <div class="navbar-inner">
          <div class="navbar-header text-sm-center">
            <!-- Navbar brand -->
            <a class="navbar-brand pull-left" href="index.html" title="Boomerang 2 | One template. Infinite solutions">
              <img id="desktopLogo" src="/assets/Logo2.png" style= "width:130px">
              <img id="mobileLogo" src="/assets/Logo2.png" >
            </a>

            <!-- Slide bar button -->
            <button type="button" class="navbar-toggle navbar-toggle-aside-menu pull-right">
              <i class="fa fa-outdent icon-custom"></i>
            </button>
            <!-- Mobile menu button -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <i class="fa fa-bars icon-custom"></i>
            </button>

          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li class="hidden-md hidden-lg">
                <div class="bg-light-gray">
                  <form class="form-horizontal form-light p-15" role="form">
                    <div class="input-group input-group-lg">
                      <input type="text" class="form-control" placeholder="I want to find ...">
                      <span class="input-group-btn">
                                        <button class="btn btn-white" type="button">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                    </div>
                  </form>
                </div>
              </li>

              <li class="dropdown dropdown-meganav mega-dropdown-fluid">
                <a tabindex="-1" href="/homepage/home">Home</a>
              </li>
              <li class="dropdown dropdown-meganav mega-dropdown-fluid">
                <a tabindex="-1" href="/homepage/home">Monitorização</a>
              </li>
              <li class="dropdown dropdown-meganav mega-dropdown-fluid">
                <a tabindex="-1" href="/sobre/sobre_nos">Sobre Nós</a>
              </li>
            </ul>

          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
  </header>        </div>