<div class="pg-opt">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>Registar</h2>
                </div>
            </div>
        </div>
    </div>

    <section class="slice bg-white">
        <div class="wp-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 col-sm-6 col-sm-offset-3">                   
                        <div class="wp-block default user-form no-margin">
                            <div class="form-header">
                                <h2>Crie a sua conta</h2>
                            </div>
                            <div class="form-body">
                                <form action="" id="frmRegister" class="sky-form">                                    
                                    <fieldset class="no-padding">           
                                        <section>
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <div class="form-group">
                                                        <label class="label">Nome Utilizador</label>
                                                        <label class="input">
                                                            <i class="icon-append fa fa-user"></i>
                                                            <input type="text" name="username" placeholder="">
                                                            <b class="tooltip tooltip-bottom-right">Needed to enter the website</b>
                                                        </label>
                                                    </div>               
                                                </div>
                                                <div class="col-xs-6">
                                                    <div class="form-group">
                                                        <div class="form-group">
                                                            <label class="label">E-mail</label>
                                                            <label class="input">
                                                                <i class="icon-append fa fa-envelope-o"></i>
                                                                <input type="email" name="email" placeholder="">
                                                                <b class="tooltip tooltip-bottom-right">Needed to verify your account</b>
                                                            </label>
                                                        </div>  
                                                    </div>               
                                                </div>
                                            </div>   
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="label">Password</label>
                                                        <label class="input">
                                                            <i class="icon-append fa fa-lock"></i>
                                                            <input type="text" name="username" placeholder="">
                                                            <b class="tooltip tooltip-bottom-right">Needed to enter the website</b>
                                                        </label>
                                                    </div>               
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="label">Password</label>
                                                        <label class="input">
                                                            <i class="icon-append fa fa-lock"></i>
                                                            <input type="email" name="email" placeholder="">
                                                            <b class="tooltip tooltip-bottom-right">Needed to verify your account</b>
                                                        </label>
                                                    </div>               
                                                </div>
                                            </div>   
                                        </section>
                                        <hr>
                                        <section>
                                            <div class="row">
                                                <section class="col-xs-6">
                                                    <label class="label">Primeiro Nome</label>
                                                    <label class="input">
                                                        <i class="icon-append fa fa-user"></i>
                                                        <input type="text" name="fname" placeholder="">
                                                    </label>
                                                </section>
                                                <section class="col-xs-6">
                                                    <label class="label">Ultimo Nome</label>
                                                    <label class="input">
                                                        <i class="icon-append fa fa-user"></i>
                                                        <input type="text" name="lname" placeholder="">
                                                    </label>
                                                </section>
                                            </div> 
                                        
                                        </section>
                                    </fieldset>  

                                    <fieldset>
                                        <div class="row">
                                            <section class="col-xs-5">
                                                <label class="label">Pais</label>
                                                    <label class="input">
                                                        <i class="icon-append fa fa-user"></i>
                                                        <input type="text" name="lname" placeholder="">
                                            </section>
                                            
                                            <section class="col-xs-4">
                                                <label class="input">
                                                    <input type="text" name="city" placeholder="Cidade">
                                                </label>
                                            </section>
                                            
                                            <section class="col-xs-3">
                                                <label class="input">
                                                    <input type="text" name="code" placeholder="Código Postal">
                                                </label>
                                            </section>
                                        </div>
                                        
                                        <section>
                                            <label for="file" class="input">
                                                <input type="text" name="address" placeholder="Morada">
                                            </label>
                                        </section>
                                        
                                        <section>
                                            <label class="textarea">
                                                <textarea rows="3" name="info" placeholder="Informação Adicional"></textarea>
                                            </label>
                                        </section>
                                        <section>
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <label class="checkbox">
                                                        <input type="checkbox" name="subscription" id="subscription">
                                                        <i></i> Eu aceito os <a href="#">termos e condições</a> deste website.
                                                    </label>
                                                </div>
                                                <div class="col-md-4">
                                                    <button class="btn btn-alt btn-icon btn-icon-right btn-icon-go pull-right" type="submit">
                                                        <span>Registar</span>
                                                    </button>
                                                </div>
                                        </div></section>
                                    </fieldset>
                                </form>    
                            </div>
                            <div class="form-footer">
                                <p>Já possui uma conta <a href="/perfil_utilizador/login">Clique aqui para efetuar Login</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>