  <section class="slice bg-white">
        <div class="wp-section user-account">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="user-profile-img">

                            <img src="@controllers.common.routes.Assets.at("images/users/"+ user.getImagem)" alt=NOME >

                        </div>
                        <h3 align="center" class="title title-lg"><%=@user.nome%></h3>
                       
                    </div>
                    <div class="col-md-9">
                        <div class="tabs-framed">
                            <ul class="tabs clearfix">
                            	 <li class="active"><a href="#tab-1" data-toggle="tab">Praias Favoritas</a></li>
                                <li><a href="#tab-2" data-toggle="tab">Definições</a></li>
                               
                            </ul>

                            <div class="tab-content">
                                <!-- Wishlist -->
                                <div class="tab-pane fade in active" id="tab-1">
                                    <div class="tab-body">
                                        <h2></h2>
                                        <div class="row">
                                                <!-- Product list -->
                                          
                                                <div class="col-md-4">
                                                    <div class="wp-block product">
                                                        <figure>
                                                            <img alt="" src="http://hypescience.com/wp-content/uploads/2010/10/batatas.jpg" class="img-responsive img-center">
                                                        </figure>
                                                        <h2 class="product-title"><a href="#"</a></h2>
                                                        <p>
                                                        DescricaoProduto
                                                        </p>
                                                        <div class="wp-block-footer">
                                                            <span class="price pull-left">Preco</span>
                                                            <a href="/market/cart" class="btn btn-sm btn-base btn-icon btn-cart pull-right">
                                                                <span>Comprar</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            
                                        </div>
                                    </div>
                                </div>
                                <!-- Definições -->
                                <div class="tab-pane fade" id="tab-2">
                                    <div class="tab-body" style="padding-bottom: 0;">

                                        <div class="row">

                                        <div class="col-md-9">
                                            <dl class="dl-horizontal style-2">
                                                <dt>Nome</dt>
                                                <dd>
                                                    <span class="pull-left"><%=@user.nome%></span>
                                                </dd>
                                                <hr>
                                                <dt>Email</dt>
                                                <dd>
                                                    <span class="pull-left"><%=@user.email%></span>
                                                </dd>
                                                <hr>
                                            </dl>
                                        </div>

                                       
                                        </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>

            </div>
        </section>

}

