<div class="body-wrap">
    <!-- MAIN CONTENT -->
        <div class="pg-opt">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>Sobre nós</h2>
                </div>
            </div>
        </div>
        </div>

    <section class="slice white">
        <div class="wp-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <p style="color: green; font-size: 20px; font-weight: bold;"> O que é o SIBDDA? </p>
                        <p> SIBDDA é um sistema que tem como objetivo estabelecer uma rede de sensores em zonas balneares de forma a fornecer informação relevante para potencias banhistas de uma determinada zona balnear.</p>
                        <p> O sistema é composto por um conjunto de dispositivos com diferentes capacidades sensoriais que poderão ser colocadas em locais específicos para que possam obter as leituras da pressão atmosférica, humidade, luminosidade e temperatura. </p>
                    </div>
                    <div class="col-md-5">
                        <img style= "margin-left: 30%; height: 200px"  src="/assets/LOGO.png"></img>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="slice light-gray bt bb">
        <div class="wp-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="section-title-wr">
                            <h3 class="section-title left"><span>Tecnologias utilizadas</span></h3>
                        </div>
                        <p>
                        </p>
                        <div class="progress progress-lg">
                            <div class="progress-bar progress-bar-base" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                            <span class="sr-only"> Ruby on Rails </span>
                            </div>
                        </div>
                        <div class="progress progress-lg">
                            <div class="progress-bar progress-bar-base" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                            <span class="sr-only">HTML</span>
                            </div>
                        </div>
                        <div class="progress progress-lg">
                            <div class="progress-bar progress-bar-base" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                            <span class="sr-only"> CSS </span>
                            </div>
                        </div>
                        <div class="progress progress-lg">
                            <div class="progress-bar progress-bar-base" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                            <span class="sr-only"> MySQL </span>
                            </div>
                        </div>
                         <div class="progress progress-lg">
                            <div class="progress-bar progress-bar-base" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                            <span class="sr-only"> JavaScript </span>
                            </div>
                        </div>
                        <div class="progress progress-lg">
                            <div class="progress-bar progress-bar-base" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                            <span class="sr-only"> GitHub </span>
                            </div>
                        </div>
                    </div>
                
                    <div class="col-md-4">
                        <div class="section-title-wr">
                            <h3 class="section-title left"><span>Sensores</span></h3>
                        </div>
                        <ul class="bullet">
                            <li>
                                <figure class="dark">1</figure>
                                <p style="font-size: 16px; margin-top: 10px">Pressão Atmosférica</p>
                            </li>
                            <li>
                                <figure class="dark">2</figure>
                                <p style="font-size: 16px; margin-top: 10px">Humidade</p>
                            </li>
                            <li>
                                <figure class="dark">3</figure>
                                <p style="font-size: 16px; margin-top: 10px">Luminosidade</p>
                            </li>
                             <li>
                                <figure class="dark">3</figure>
                                <p style="font-size: 16px; margin-top: 10px">Temperatura</p>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-4">
                        <div class="section-title-wr">
                            <h3 class="section-title left"><span> Equipa </span></h3>
                        </div>
                        <p>
                        Este trabalho foi desenvolvido no contexto da cadeira de Engenharia Web, que pertence ao perfil de Engenharia de Sistemas de Software do curso de Engenharia Informática. 
                        </p>
                        <ul class="list-check">
                            <li><i class="fa fa-check"></i>Beatriz Aarão a71015 </li>
                            <li><i class="fa fa-check"></i> Bruno Henriques a62120</li>
                            <li><i class="fa fa-check"></i> Cecília Marciel a71926</li>
                            <li><i class="fa fa-check"></i> Luis Marques a68691 </li>
                            <li><i class="fa fa-check"></i> Madalena Castro a71417 </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>


               
            </div>
        </div>
    </section>  
</div>